/* :host{
    display: flex;
    justify-content: space-around;
    width: 100%;
} */
.layout_design{
    display: flex;
    justify-content: space-around;
    background: #ebdece;
    width: 100%;
    box-shadow: 0px 0px 1px #919191;
}
.header_column{
    padding: 0 2rem
}
.title{
    font-size: 0.85rem;
    line-height: 1.25;
    color: #54698d;
    margin-bottom: .25rem;
}
.bold{
    font-weight:700;
}